/*<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="grid.css">*/
*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*PHONE AND DEFAULT*/
[class*="col-"]
{
    position: relative;
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
/*TEXT*/
*
{
    font-size: 24px;
}
h1
{
    font-size: 48px;
}
h2
{
    font-size: 34px;
}
h3
{
    font-size: 32px;
}
h4
{
    font-size: 30px;
}
h5
{
    font-size: 28px;
}
h6
{
    font-size: 26px;
}

/*TABLET*/
@media only screen and (min-width: 730px)
{
    .left-m-1 {margin-left: 8.33%;}
    .left-m-2 {margin-left: 16.66%;}
    .left-m-3 {margin-left: 25%;}
    .left-m-4 {margin-left: 33.33%;}
    .left-m-5 {margin-left: 41.66%;}
    .left-m-6 {margin-left: 50%;}
    .left-m-7 {margin-left: 58.33%;}
    .left-m-8 {margin-left: 66.66%;}
    .left-m-9 {margin-left: 75%;}
    .left-m-10 {margin-left: 83.33%;}
    .left-m-11 {margin-left: 91.66%;}
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    *
    {
        font-size: 20px;
    }
    h1
    {
        font-size: 34px;
    }
    h2
    {
        font-size: 32px;
    }
    h3
    {
        font-size: 30px;
    }
    h4
    {
        font-size: 28px;
    }
    h5
    {
        font-size: 26px;
    }
    h6
    {
        font-size: 24px;
    }
}
/*DESKTOP*/
@media only screen and (min-width: 1024px)
{
    .left-0 {margin-left: 0;}
    .left-1 {margin-left: 8.33%;}
    .left-2 {margin-left: 16.66%;}
    .left-3 {margin-left: 25%;}
    .left-4 {margin-left: 33.33%;}
    .left-5 {margin-left: 41.66%;}
    .left-6 {margin-left: 50%;}
    .left-7 {margin-left: 58.33%;}
    .left-8 {margin-left: 66.66%;}
    .left-9 {margin-left: 75%;}
    .left-10 {margin-left: 83.33%;}
    .left-11 {margin-left: 91.66%;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    *
    {
        font-size: 16px;
    }
    h1
    {
        font-size: 28px;
    }
    h2
    {
        font-size: 24px;
    }
    h3
    {
        font-size: 22px;
    }
    h4
    {
        font-size: 20px;
    }
    h5
    {
        font-size: 18px;
    }
    h6
    {
        font-size: 16px;
    }
}