.nav
{
    z-index: 10;
    box-sizing: border-box;
    position: relative;
    padding: 16px;
    margin: 0 0 16px 0;
    background-color: inherit;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.nav.bottom
{
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 16px 0 0 0;
}