.nav
{
    z-index: 10;
    box-sizing: border-box;
    position: relative;
    padding: 16px;
    margin: 0 0 16px 0;
    background-color: inherit;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.nav.bottom
{
    position: fixed;
    width: 100%;
    bottom: 0;
}
.nav > .title
{
    position: relative;
    left: 12px;
    font-weight: bold !important;
}
.nav > .title.fix
{
    top: -6px;
}
.nav > i.icon
{
    cursor: default;
}
.nav > i.icon::after
{
    content: '';
    position: absolute;
    left: 28px;
    top: 28px;
    width: 0px;
    height: 0px;
    border-radius: 100%;
    background: rgba(0,0,0,0);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.nav > i.icon:hover::after
{
    content: '';
    left: 4px;
    top: 4px;
    width: 48px;
    height: 48px;
    background: rgba(0,0,0,0.16);
}
.nav > i.icon:active::after
{
    content: '';
    background: rgba(0,0,0,0.3);
}
.nav > .btn
{
    float: right;
    margin: 0 8px;
    text-decoration: none;
}

.menu
{
    z-index: 12;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    left: -81%;
    top: 0;
    width: 80%;
    height: 100vh;
    background: #FFF;
    color: #000;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
@media only screen and (min-width: 730px) { .menu
    {
        left: -41%;
        width: 40%;
    }
}
@media only screen and (min-width: 1024px) { .menu
    {
        left: -26%;
        width: 25%;
    }
}
.menu:hover, .nav > .title:active ~ .menu, .nav > .icon:active ~ .menu
{
    left: 0;
}
.menu *
{
    color: #000;
}
.menu > .head
{
    width: 100%;
    height: 192px;
    padding: 16px;
    background: #00796B;
}
.menu > .head *
{
    position: absolute;
    top: calc(192px - 48px);
    line-height: 32px;
    color: #FFF;
}
.menu > a, .menu > span, .menu > p
{
    display: block;
    width: 100%;
    padding: 16px;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.menu > a
{
    background: #E3E3E3;
}
.menu > a:hover
{
    background: #E0E0E0;
}

.menu::before
{
    content: '';
    z-index: 11;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 0vw;
    height: 100vh;
    background: rgba(0,0,0,0);
    transition: background-color 0.3s cubic-bezier(.25,.8,.25,1);
}
.menu:hover::before
{
    left: 80%;
    width: 100vw;
    background: rgba(0,0,0,0.30);
}
@media only screen and (min-width: 730px) { .menu:hover::before
    {
        left: 40%;
    }
}
@media only screen and (min-width: 1024px) { .menu:hover::before
    {
        left: 25%;
    }
}
.menu:active::before
{
    width: 0vw;
    background: rgba(0,0,0,0);
}