@import url('https://fonts.googleapis.com/css?family=Roboto');
*
{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}
body
{
    background: #263238;
}
.center-text
{
    text-align: center;
}
.line-space
{
    line-height: 6vh;
}
#season-spring
{
    background-image: url('media/spring.jpg');
    background-size: cover;
    height: 35vh;
}
#season-summer
{
    background-image: url('media/summer.jpg');
    background-size: cover;
    height: 35vh;
}
#season-autumn
{
    background-image: url('media/autumn.jpg');
    background-size: cover;
    height: 35vh;
}
#season-winter
{
    background-image: url('media/winter.jpg');
    background-size: cover;
    height: 35vh;
}